 @media only screen and (max-width:600px){
    body{
    background-color: lightblue;
     }
    }
    body{
    background-color: green;
    }
     #header-img{
         width: 120vw;
         height: 350px;
     }
     .nav-link{
         margin: 4px;
        color: red;
        font-weight: bold;
        text-decoration: none;
     }
     #header{
         display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: flex-start;
     }
     #nav-bar{
     display: flex;
     height: 20px;
     position: sticky;
     top: 0;
     }
